<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.8.2/forge.all.min.js"></script>
    <script type="text/Javascript">
	function checkHash{{index}}()
	   {
	    var plainText = document.getElementById('plainText{{index}}').value.trim();
	    var md = forge.md.sha256.create();  
	    md.start();  
	    md.update(plainText, "utf8");  
	    var hashText = md.digest().toHex(); 
	    if (hashText=='{{page.sha256hash[index]}}')
	    {
		document.getElementById('spanResult{{index}}').innerHTML = "Absolutely correct! 🥳"; 
	    }
	    else
	    {
		document.getElementById('spanResult{{index}}').innerHTML = "Incorrect, try harder 🥺";
	    }
	}        
	</script>
	<strong>Enter the flag: </strong><input id='plainText{{index}}' type='text' style="color:black;" /> 
	<a class="button button--secondary button--rounded" onclick="checkHash{{index}}()">Check Flag</a>
	<br>
	<div id="spanResult{{index}}">&nbsp;&nbsp;</div>
</div>
