---
layout: page
title: 404
show_title: false
---
<div class="layout--404">
  <div class="sign">
    <h1>404</h1>
    <p>Page not found :(</p>
    <pre>
           ---_ ......._-_--.
      (|\ /      / /| \  \
      /  /     .'  -=-'   `.
     /  /    .'             )
   _/  /   .'        _.)   /
  / o   o        _.-' /  .'
  \          _.-'    / .'*|
   \______.-'//    .'.' \*|
    \|  \ | //   .'.' _ |*|
     `   \|//  .'.'_ _ _|*|
      .  .// .'.' | _ _ \*|
      \`-|\_/ /    \ _ _ \*\
       `/'\__/      \ _ _ \*\
      /^|            \ _ _ \*\
     '  `             \ _ _ \*\
                       \_ _ _\*\
                        )_ _ _)*)
    </pre>
  </div>
</div>

{{ content }}
